@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dokdo&display=swap');
*{
    box-sizing: border-box;
    
}
body{
    background-color: rgb(211, 210, 210);
    align-items: center;
}
.center {
    width: 300px;
    background-color: aliceblue;
    margin: auto;
    border-radius: 20px;
    
}

header{
    height: 30px;
    background:linear-gradient(to right, rgb(0, 234, 255),green) ;
    border-radius: 20px 20px 0 0;
    padding: 7px;
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
button {
    background:none;
    border: none;
    cursor: pointer;
}

ul{
    padding:0;
    list-style: none;
    margin: 0;
}
.item__list {
    height: 350px;
    overflow-y: scroll;
}
.item__list{
    padding: 10px;
}

.item{
    display: flex;
    justify-content: space-between;
    
}

.item__name {
    font-family: 'Dancing Script', cursive;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(224, 231, 163);
    margin: auto;
}

.item__delete:hover {
    color: red;
    transform: scale(1.2);
}

input{
    width: 100%;
    border: none;
    padding: 3px 5px;
    
}

input:focus {
    outline: none;
}

footer {
    text-align: center;
  
}
.footer__div{
    border-radius: 0 0 20px 20px;
    background:linear-gradient(to right, rgb(0, 234, 255),green) ;
}

.button__plus{
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}
.button__plus:hover {
    transform: scale(1.1);
}
